.orderContainer {
  background-color: #004643;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 1em;
}
.ordersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.pageContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pickupStatus {
  border-radius: 0.5em;
  background-color: rgb(205, 241, 0);
  width: fit-content;
  padding: 0.5em;
  gap: 0.2em;
  cursor: pointer;
  font-size: 0.7em;
}
.pending {
  background-color: rgb(205, 241, 0);
}

.complete {
  background-color: rgb(50, 182, 48);
}
.canceled {
  background-color: rgb(182, 48, 48);
}

.informationSpace {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.platesLink {
  margin-left: 10px;
}

.firstLink {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .ordersContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .email {
    font-size: 20px;
    margin: 10px;
    font-weight: bolder;
  }
  .name {
    margin: 10px;
  }

  .platesLink {
    margin: 10px;
  }

  p {
    margin: 10px;
  }

  .btnLogout {
    margin: 10px;
  }
}
