.orderContainer {
  background-color: #004643;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 1em;
}
.ordersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.pageContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
