.footerContainer,
.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #004643;
  color: #faf0ca;
}

.footerContainer {
  gap: 1em;
  padding-bottom: 0.5em;
}

.footerContainer img {
  width: 5em;
}

.link {
  color: #faf0ca;
  text-decoration: none;
  margin: 0.1em;
  margin-right: 10px;
  font-size: 0.8em;
}
.footer {
}
@media screen and (max-width: 400px) {
  .footerContainer,
  .linksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #004643;
    color: #faf0ca;
    font-size: 14px;
    margin-right: 3em;
  }
}
